.form {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B7BBC5;
    opacity: 1; /* Firefox */
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #B7BBC5;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #B7BBC5;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.name {
    color: #B7BBC5;
    background-color: var(--back-button);
    box-shadow: var(--drop-button);
    border-radius: 30px;
    padding: 0.5em 1em;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    transition: all 0.5s;
}

.name input{
    border: none;
    background: none;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #B7BBC5;
    padding-left: 1em;
}

.type {
    margin-left: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #FF8181 0%, #FF6363 100%);
    box-shadow: var(--drop-button);
    border-radius: 30px;
    transition: all 0.5s;

}

.type select {
    /*A reset of styles, including removing the default dropdown arrow*/
    appearance: none;
    /* Additional resets for further consistency*/
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    color: #FFFFFF;
    margin-right: 1em;
}

.type * {
    padding: 0.5em 1em;
}

.button {
    border: none;
    width: 4em;
    margin-left: 2em;
    border-radius: 30px;
    background-color: #717686;
    color: #FFFFFF;
}

.button:hover {
    transform: scale(1.05);
    filter: var(--drop-hover);
    transition: all 0.5s;

}

@media screen and (max-width: 600px) {
    .form {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .form > * {
        margin: 1em 0;
        height: 2.5em;
    }

    .form .button {
        margin-left: 1em;
    }
}