.refresh {
    background-color: #ccd5e1;
    border-radius: 30px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    height: 50px;
    width: 100px;
    align-self: start;
    margin: 2em 0 0 5%;
    filter: drop-shadow(0px 30px 40px rgba(0, 117, 255, 0.23));
    transition: width 1s;
    transition-timing-function: ease;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
}

.refresh:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 30px 40px rgba(0, 117, 255, 0.30));
    width: 120px;
}