.refresh {
    background-color: var(--back-refresh);
    border-radius: 30px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    height: 50px;
    width: 100px;
    align-self: start;
    margin: 2em 0 0 1em;
    filter: var(--drop-button);
    transition: width 1s;
    transition-timing-function: ease;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
}

.refresh:hover {
    transform: scale(1.05);
    width: 120px;
}